<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">

<head>
    <meta charset="UTF-8">
    <title>Origin Weather App</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/app/styles/styles.css">
    <!-- endinject -->
</head>
<!--ng-controller goes inside body tag-->
<body ng-controller="WeatherController as vm">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Origin Weather App</h1>
                <p>Always know if you need an umbrella!</p>
            </div>
            <div class=row></div>
            <div id="btns" class="btn-group col-md-5 col-offset-4">
                <button class="btn btn-primary" ng-click="vm.getWeather(vm.search='San Diego')" type="button-align-left">San Diego</button>
                <button class="btn btn-primary" ng-click="vm.getWeather(vm.search='New York')" type="button-align-center">New York</button>
                <button class="btn btn-primary" ng-click="vm.getWeather(vm.search='Tokyo')" type="button-align-right">Tokyo</button>
                <button class="btn btn-primary" ng-click="vm.getWeather(vm.search='London')" type="buttonalign-justify">London</button>
                <button class="btn btn-primary" ng-click="vm.getWeather(vm.search='Paris')" type="buttonalign-justify">Paris</button>
            </div>
            <br>
            <!--ng-model, search input and results button below here-->
            <div id="blah" class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="vm.search">
                    <span class="input-group-btn">
        <button class="btn btn-secondary" ng-click="vm.getWeather(vm.search)" type="button">Go!</button>
      </span>
                </div>
            </div>
        </div>
        <!--Panel1 Left side goes below here with table-->
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">City Information</h3>
                </div>
                <div class="panel-body" id="bg" ng-hide="vm.name === ''">
                    <h2 class="text-center"><img ng-src="{{vm.desc}}" >{{vm.name}}
                	</h2>
                    <h4 class="text-center">Lat/Long: {{vm.lat}}, {{vm.long}}</h4>
                    <table class="table table-striped">
                        <p id="temp">Temperature(F) {{vm.temp}}</p>
                        <p id="pressure">Pressure {{vm.pressure}}</p>
                        <p id="humid">Humidity {{vm.humid}}</p>
                        <p id="low">Lowest Temp(F) {{vm.low}}</p>
                        <p id="high">Higest Temp(F) {{vm.high}}</p>
                        <p id="wind">Wind Speed {{vm.wind}}</p>
                    </table>
                </div>
            </div>
        </div>
        <!--Panel2 Right side goes below here with search history output-->
        <div class="col-md-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title">Search History</h5>
                </div>
                <div class="panel-body" ng-hide="vm.name === ''">
                    <table class="table">
                        <tr ng-repeat="info in vm.history">
                            <td>{{info.search}}</td>
                            <td class="text-right">{{info.dt}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- endbower -->
    <!--h1>HEY You</h1-->
    <!-- inject:js -->
    <script src="/app/app.js"></script>
    <script src="/app/weather.controller.js"></script>
    <script src="/app/weather.factory.js"></script>
    <!-- endinject -->
</body>

</html>
<!--Comments:-->
<!-- By: Joseph Kalb, Adding the corrections from html to the controllers and having ng-click on the buttons should get you closer to functioning. Make sure the the function in your controller is defined as vm.getWeather = function(input)... rather than how it is currently written. From that point on you should be closer.   -->
<!--  By: JKLaumer, in discussion we mentioned refining/cutting down on some of the html code, adding toastr, building out the controller file more, and that the factory is looking good.   -->
<!-- By: Varun Kapila,    -->
